{% extends 'base.html' %}
{% block content %}
  {% load static %}




  <div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">
      <section class="tm-content">
        <h2 class="mb-5 tm-content-title">خدمات تخصصی توسعه وب</h2>
        <p class="mb-5">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
        <hr class="mb-5" />
        <p class="mb-5">Diagoona is Bootstrap v4.4.1 layout. This BG is 50% transparent. You can set the background images auto play settings (true or false in line number 33) in templatemo-script.js file in js folder.</p>
        <a href="about.html" class="btn btn-primary">ادامه...</a>
      </section>
    </main>
  </div> 

  <div class="tm-row">
    <div class="tm-col-left text-center">
      <ul class="tm-bg-controls-wrapper">
        <li class="tm-bg-control active" data-id="0"></li>
        <li class="tm-bg-control" data-id="1"></li>
        <li class="tm-bg-control" data-id="2"></li>
      </ul>
    </div>
    <div class="tm-col-right tm-col-footer"></div>
  </div> 







{% endblock %}
