{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">
      <section class="tm-content" style="text-align: left;" dir="ltr">
          {% for service in services %}
            <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
              
              <div class="media-body tm-service-text" style="direction: rtl; text-align: right;" >
                <br>
                <h2 class="mb-4 tm-content-title" >{{ service.name }}</h2>
                <p>{{ service.discription }}</p>
                <br /><br /><br /><br />
              </div>
            <img src="{{ service.lable.url }}" alt="Image" class="tm-service-img"
                  style="width: 370px; height: 230px; overflow: hidden; border-radius: 12px; 
                          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); margin: 20px auto;" />


            </div>

            <!-- خط جداکننده کامل در سطح بلوک اصلی -->
            <hr class="tm-full-hr mb-5" />
          {% endfor %}
      </section>
    </main>
  </div>

  <div class="tm-row">
    <div class="tm-col-left text-center">
      <ul class="tm-bg-controls-wrapper">
        <li class="tm-bg-control active" data-id="0"></li>
        <li class="tm-bg-control" data-id="1"></li>
        <li class="tm-bg-control" data-id="2"></li>
      </ul>
    </div>
  </div>





{% endblock %}
