{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- Fonts -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">




</head> 

  <!-- Diagonal background design -->
  <div class="tm-bg">
      <div class="tm-bg-left"></div>
      <div class="tm-bg-right"></div>
  </div>


<body>

	<!-- Start header -->
    {% include "partials/_header.html" %}
	<!-- End header -->

   
    <div class="custom-body-font">
        {% block content %}
        {% endblock content %}
    </div>
  

	<!-- Start Footer -->
	{% include "partials/_footer.html" %}
	<!-- End Footer -->



    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>window.STATIC_URL = "{% get_static_prefix %}";</script>

    <script src="{% static 'js/templatemo-script.js' %}"></script>



</body>